* {
  margin: 0;
  padding: 0;
  font-family: Fantasy;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.cursor{
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  background-color: rgb(15, 151, 117);
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}
h1 {
  font-family: Fantasy;
  font-size: 60px;
  color: #145c5c;
}
label {
  display: flex;
  font-family: Fantasy;
  font-weight: bold;
  font-size: 30px;
  color: #145c5c;
  text-decoration: none;
  margin-top: 4%;
}
.div{
  display: flex;
  flex-wrap: wrap;
}

p,
li,
a {
  font-family: Fantasy;
  font-weight: bold;
  font-size: 30px;
  color: #145c5c;
  text-decoration: none;
}

.title {
  display: flex;
  font-family: Fantasy;
  text-align: center;
  font-size: 200%;
  color: #0f4e58;
  margin-right: auto;
}
.title:hover {
  color: #0b3e46;
}

header {
  z-index: 1;
  height: 10%;
  width: 100%;
  background-image: linear-gradient(to top left, #81a190, #a2c0a0);
  display: flex;
  font-size: 1.8rem;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
}

.logo {
  display: flex;
  padding-left: 8px;
  cursor: pointer;
  width: 80px;
  height: 80px;
  transition: transform 0.2s;
}
.logo:hover {
  transform: scale(1.2);
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: flex;
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  display: flex;
  font-size: 30px;
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0f4747;
}

header button {
  display: flex;
  color: rgb(83, 168, 140);
  margin-left: 15px;
  margin-right: 15px;
  font-size: 30px;
  padding: 9px 20px;
  background-color: #043a50;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

header button:hover {
  background-color: #033042;
}

.backGround {
  flex-flow: column wrap;
  display: flex;
  position: absolute;
  z-index: -1;
  background-image: linear-gradient(to top left, #81a190, #a2c0a0, #dbe8d9);
  height: 1600px;
  width: 100%;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.body {
  flex-flow: column wrap;
  flex-wrap: wrap;
  padding: 20px;
  z-index: 0;
  top: 8%;
  position: relative;
  border-style: groove;
  border-width: 20px;
  border-radius: 25px;
  border-color: #81a190;
  background-image: linear-gradient(to top right, #bed6bc, #dbe8d9);
  margin-left: auto;
  margin-right: auto;
  height: 75%;
  width: 65%;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body_image {
  cursor: pointer;
  margin-bottom: 2%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 15s;
  z-index: 2;
  width: 25%;
  height: 27%;
}
.body_image:hover {
  transform: scale(3);
}

.body_title {
  position: relative;
  text-align: center;
  display: block;
  font-size: 60px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-decoration: underline;
}
.body_paragraph {
  
  flex-wrap: wrap;
  z-index: 1;
  position: relative;
  text-align: center;
  display: block;
  font-size: 45px;
  margin: auto;
  width: 75%;
}

#body_botleft_btn {
  flex-wrap: wrap;
  position: absolute;
  top: 88%;
  left: 4%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(/images/capoo_cry_weired2.jpg) no-repeat;
  background-size: 100% 100%;
  width: 15%;
  height: 15%;
  border: none;
}
#body_botright_btn {
  flex-wrap: wrap;
  position: absolute;
  top: 88%;
  left: 96%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(/images/capoo_reject_weired.jpg) no-repeat;
  background-size: 100% 100%;
  width: 15%;
  height: 15%;
  border: none;
}

#body_botleft_btn:active {
  background: url(/images/alvin.jpg) no-repeat;
  background-size: 100% 100%;
}
#body_botright_btn:active {
  background: url(/images/johnson.jpeg) no-repeat;
  background-size: 100% 100%;
}
button:focus {
  outline: none;
}

input[type="text"],
input[type="password"] {
  font-family: Fantasy;
  font-size: 20px;
  width: 100%;
  padding: 20px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 2px solid #1e7562;
  margin-top: 1%;
  margin-bottom: 1%;
}

.cancelbtn {
  color: rgb(98, 197, 164);
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 150%;
  padding: 9px 20px;
  background-color: #043a50;
  border: dark;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.signupbtn {
  color: rgb(98, 197, 164);
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 150%;
  padding: 9px 20px;
  background-color: #043a50;
  border: dark;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cancelbtn,
.signupbtn {
  float: left;
  width: 30%;
  height: 15%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.background_capoos img {
  visibility: visible;
  display: block;
  position: absolute;
  bottom: 3%;
  height: 10%;
  width: 10%;
}

.background_capoos img:nth-of-type(1) {
  left: 2%;
}

.background_capoos img:nth-of-type(2) {
  left: 28%;
}

.background_capoos img:nth-of-type(3) {
  right: 30%;
}

.background_capoos img:nth-of-type(4) {
  right: 2%;
}

.background_capoos img:nth-of-type(5) {
  top: 10%;
  left: 2%;
}

.background_capoos img:nth-of-type(6) {
  top: 35%;
  left: 2%;
}

.background_capoos img:nth-of-type(7) {
  top: 60%;
  left: 2%;
}

.background_capoos img:nth-of-type(8) {
  top: 60%;
  right: 2%;
}

.background_capoos img:nth-of-type(9) {
  top: 35%;
  right: 2%;
}

.background_capoos img:nth-of-type(10) {
  top: 10%;
  right: 2%;
}

.score {
  margin-left: 35%;
  font-size: 35px;
  background: rgb(18, 95, 91);
  padding: 10px 120px;
  line-height: 1;
  border-radius: 16px;
  color: #fff;
}

.game {
  width: 900px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(./images/dirt.png) bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 90px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.capoo {
  background: url("./images/capoo_looking_forward.jpg") bottom center no-repeat;
  background-size: 80%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.hole.up .capoo {
  top: 0;
}

@media (min-width: 667px) and (max-width: 1024px) {
  h1 {
    display: none;
  }
  .score {
    background: rgb(28, 80, 114);
    padding: 0 12px;
    line-height: 1;
    border-radius: 16px;
    color: #fff;
    font-size: 40px;
    margin-left: 20px;
  }

  .hole.up .capoo {
    top: 20px;
  }
}

@media (max-width: 667px) {
  .game {
    width: 667px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .score {
    background: rgb(28, 80, 114);
    padding: 0 12px;
    line-height: 1;
    border-radius: 16px;
    color: #fff;
    font-size: 40px;
    margin-left: 20px;
  }

  .hole:after {
    display: block;
    background: url(./images/dirt.png) bottom center no-repeat;
    background-size: contain;
    content: "";
    max-width: 70%;
    height: 60px;
    position: absolute;
    z-index: 2;
    bottom: -30px;
  }

  .capoo {
    background: url("./images/capoo_looking_forward.jpg") bottom center
      no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100%;
    max-width: 70%;
    height: 70%;
    transition: all 0.4s;
  }

  .hole.up .capoo {
    top: 50px;
  }
}

.startgamebtn {
  color: rgb(83, 168, 140);
  margin-left: 15px;
  margin-right: 15px;
  font-size: 40px;
  padding: 5px 20px;
  background-color: #12536d;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
