* {
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-family: Fantasy;
  font-weight: 500;
  font-size: 30px;
  color: #145c5c;
  text-decoration: none;
}

.title {
  font-family: Fantasy;
  text-align: center;
  font-size: 60px;
  color: #0f4e58;
  margin-right: auto;
}
.title:hover{
  color: #0b3e46;
}

header {
  z-index:1;
  height: auto;
  width: 100%;
  background-image: linear-gradient(to top left, #81a190, #a2c0a0);
  display: flex;
  font-size: 1.8rem;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
}

.logo {
  padding-left: 8px;
  cursor: pointer;
  width: 80px;
  height: 80px;
  transition: transform .2s;
}
.logo:hover{
  transform: scale(1.2);
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  font-size: 20px;
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0f4747;
}

button {
  color: #43aaaa;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 30x;
  padding: 9px 20px;
  background-color: #043a50;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #033042;
}

.backGround {
  z-index:-1;
  background-image: linear-gradient(to top left, #81a190, #a2c0a0, #dbe8d9);
  height: 1600px;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.body {
  z-index:0;
  top: 100px;
  position: relative;
  border-style: groove;
  border-width: 20px;
  border-radius: 25px;
  border-color: #81a190;
  background-image: linear-gradient(to top right, #bed6bc, #dbe8d9);
  margin: auto;
  height: 80%;
  width: 72%;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*#EBDFE7, #CCC2CD, #81A190, #A2C0A0, #DBE8D9*/
